.icon-bicycle {
  background-image: url(../images/sprites/icons.png);
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.icon-campfire {
  background-image: url(../images/sprites/icons.png);
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.icon-guitar {
  background-image: url(../images/sprites/icons.png);
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.icon-heart {
  background-image: url(../images/sprites/icons.png);
  background-position: 0px -144px;
  width: 48px;
  height: 48px;
}
