doctype html
html
  head
    title Webapp template
    meta(charset='utf-8')
    link(href='/images/favicon.png' rel='shortcut icon')
    link(media='screen' rel='stylesheet' href='stylesheets/application.css')
    script(data-main='javascript/application' src='javascript/require.js')
body
  .content
    yield
